*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    background-color: rgb(226, 253, 244);
    font-family: "Mulish", serif;
}
.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
   }
.sub-sec{
    width: 90%;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;

}
.logo-cont{
    padding-top: 50px;
}
img{
    width: 25%;
}
h1{
    padding-top:20px ;
    font-size: 2rem;
}

.p-1{
    line-height: 25px;
     width: 80%;
}
.p-2{
display: none;
}
.container{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  padding:25px; 
  max-width: 500px;
}
.column{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input-box{
  display: flex;
  flex-wrap: wrap;
  width: 48%;
  padding-bottom: 15px;
}
.input-box:nth-child(2n){
  justify-content: end;
}
.input-box label{
  width: 95%;
  padding: 5px 0;
  font-weight: bold;
}
.input-box input{
 height: 40px;
 width: 100%;
 padding: 0 16px;
 border-radius: 5px;
 border: 1px solid #ccc;
 outline: none;
 background-color: #fff;
 color: black;
}
.input-box select{
  height: 40px;
  width: 100%;
  padding: 0 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  color: black;
  background-color: #fff;
 }
 .input-box select:hover{
  border: 2px solid #2EC4B6;
}
/* .input-box input:is(:focus, :valid){
 box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
} */
.input-box input:hover{
  border: 2px solid #2EC4B6;
}
.input-bos{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 15px;
}
.input-bos input{
  height: 40px;
  width: 100%;
  padding: 0 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  color: black;
}
.input-bos select{
  background-color: #fff;
  height: 40px;
  width: 100%;
  padding: 0 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  color: black;
}
.input-bos select:hover{
  border: 2px solid #2EC4B6;
}
/* .input-bos input:is(:focus, :valid){
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
} */
.input-bos input:hover{
  border: 2px solid #2EC4B6;
}
.input-bos label{
  width: 100%;
  font-weight: bold;
  padding: 5px 0;
}
button {
  height: 40px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #2EC4B6;;
}
button:hover{
  background:#4beede ;
}
.term{
  text-align: center;
  padding-top: 20px;
}
.term a{
color:#2EC4B6 ;
font-weight: bold;
}
@media (max-width: 700px){
    .section-1{
        padding-left: 3px;
        padding-right: 3px;
    }
    .logo-cont{
        padding-top: 0px;
    }
    .sub-sec{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5px 0;
    }
    h1{
     font-size: 1.5rem;
    }
    .container{
      min-width: 280px;

  }
  .input-box{
      margin-bottom: 12px;
      width: 100%;
  }
  .input-box:nth-child(2n){
      justify-content: space-between;
  }
    img{
       width: 20%; 
    }
    .p-1{
        display: none;
    }
    .p-2{
        display: block;
        font-size:0.8rem ;
        padding-bottom: 30px;
    }
  }
    
