*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    background-color: rgb(226, 253, 244);
    font-family: "Mulish", serif;
}
.section-1{
    display: flex;
}
